.bg-img {
    background: url("../img/furina.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
}

.h-100 {
    min-height: 100vh;
}

.form {
    background: rgba(234, 234, 234, 1);
    border-radius: 10px;
}

.btn-login {
    width: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(15, 15, 175, 1) 34%,
        rgba(0, 212, 255, 1) 82%
    );
}

.logo {
    width: 20px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    background: #fff;
}

.container-input {
    position: relative;
}

.input {
    padding-left: 33px;
}

.show-pw {
  margin-left: 2px;
}

.show-pw input.input-checkbox {
  box-shadow: none;
}